*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#header{
    color: #0D0D0D;
    background-color: #F2F2F2;
    position: sticky; top: 0;
    overflow: hidden;
    margin: auto;
    padding: 15px;
}
#logo{
    font-family: 'Barlow Condensed', sans-serif;
    float: left;
    font-size: 20px;
}
#menu{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.m{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #0D0D0D;
}

#top-img{
    background-image: url(../img/bg-img.png);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
#top-text{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: #735f58a0;
    padding-top: 280px;
    padding-bottom: 280px;
    padding-left: 350px;
    padding-right: 350px;
    color: #F2F2F2;
    margin: auto;
    text-align: center;
    font-size: 65px;
}

#mid{
    background-color: #F2F2F2;
    text-align: center;
}
#mid-text{
    max-width: 550px;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
#mid-img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}
#mid-title{
    font-size: 30px;
    font-weight: 800;
}
.mid-body{
    font-size: 20px;
}

#contact{
    background-color: #BFBBBA;
    color: #F2F2F2;
    padding: 100px;
}
#contact-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
#contact-text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

#contact-menu{
    text-align: center;
}
#email{
    list-style-image: url(../img/email-ico.png);
    list-style-type: none;
    text-decoration: none;
    color: #F2F2F2;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
#zap{
    list-style-image: url(../img/zap-ico.png);
    list-style-type: none;
    text-decoration: none;
    color: #F2F2F2;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

/*----------------------- BIG RES -----------------------*/

@media screen and (max-width:1800px) {
    
    #top-text{
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        background-color: #735f58a0;
        padding-top: 280px;
        padding-bottom: 280px;
        padding-left: 180px;
        padding-right: 180px;
        color: #F2F2F2;
        margin: auto;
        text-align: center;
        font-size: 65px;
    }
    #contact{
        background-color: #BFBBBA;
        color: #F2F2F2;
        padding: 100px;
    }
}

/*----------------------- MID RES -----------------------*/

@media screen and (max-width:1000px) {
    
    #top-text{
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        background-color: #735f58a0;
        padding-top: 140px;
        padding-bottom: 140px;
        padding-left: 90px;
        padding-right: 90px;
        color: #F2F2F2;
        margin: auto;
        text-align: center;
        font-size: 55px;
    }
    #contact{
        background-color: #BFBBBA;
        color: #F2F2F2;
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/*----------------------- SMALL RES -----------------------*/

@media screen and (max-width:600px) {
    
    #logo{
        font-family: 'Barlow Condensed', sans-serif;
        float: none;
        text-align: center;
        font-size: 20px;
    }
    #menu{
        float: none;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .m{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
        color: #0D0D0D;
    }

    #top-text{
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        background-color: #735f58a0;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 20px;
        padding-right: 20px;
        color: #F2F2F2;
        margin: auto;
        text-align: center;
        font-size: 45px;
    }

    #contact{
        background-color: #BFBBBA;
        color: #F2F2F2;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

}
